@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono";
}
/* header section */
.nav-container{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;


}
.nav-name{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 150px;

}
.nav-resume p{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    width: 228px;
    height: 58px;
    padding: 13px;
    opacity: 0.8;
    margin-right: 168px;

}
/* banner section */
.banner{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
   
}
.banner-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-text h1{
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 44px;
    font-weight: 800;
    margin-top: 32px;
    

}
.banner-text p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    margin-top: 24px;
}
.btn{
    border-radius: 8px;
    padding: 21px 24px 21px 24px;
   background: rgb(13, 19, 33);
   color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 32px;
}
/* resource section */
.resource-container{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    padding: 80px 97px 80px 97px;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.resource-title h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.resource-title p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 48px;
}
.resource-section{
    width: 946px;
    height: 336px;
    padding: 48px;
    display: flex;
    align-items: center;
    gap: 98px;
    margin-bottom: 32px;
    
}
.resource-section h4{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.resource-section p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 16px;
    
}
.resource-section .Learn {
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
width: 171px;
height: 47px;
font-size: 17px;
font-weight: 600;
text-align: center;
padding: 12px 20px 12px 20px;
text-decoration: none;
margin-top: 32px;

}
.Learn a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
/* inspiration-container */
.inspiration-container{
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 88px;

}
.inspiration-title h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.inspiration-title p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}
.inspiration-video{
    width: 1140px;
height: 614px;
padding: 32px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
margin-top: 48px;
}
.inspiration-video iframe{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
/* target-container */
.target-skill-container{
    width: 1140px;
    height: 460px;
   
    margin: 0 auto;
    margin-top: 151px;
}
.target-title h2{
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.target-title p {
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 24px;
opacity: 0.7;
}
.target-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    gap:24px;
}
.target-card-item1{
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.target-card-item2{
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.target-card-item3{
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.target-card h2{
    color: rgb(13, 19, 33);
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-top: 24px;
}
.target-card p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-top: 8px;
opacity: 0.7;
}
.target-card a{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration: underline;
margin-top: 24px;

}
/* next-skills-container */
.next-skills-container{
    width: 1140px;
    height: 866px;
    margin: 0 auto;
    margin-top: 111px;
}
.next-skills-title h3{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 24px;
}
.next-skills-title p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
    opacity: 0.7;

}
.skill-items{
    width: 1140px;
    height: 219px;
    border: 2px solid red;
    padding: 40px;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
    padding: 40px;

    

}
.skill-items h3{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.skill-items p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(13, 19, 33);
    opacity: 0.7;
}
.skill-items a{
    color: rgb(13, 19, 33);

font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}